@{
    ViewBag.Title = "About";
}
<h2 style="text-align:center" class="title2">@ViewBag.Title Ajay</h2>
@*<h3>@ViewBag.Message</h3>*@
<link href="~/Content/global.styles.css" rel="stylesheet" />
<hr style="border-top: 1px solid #fff;" />

<div id="about" class="grid_3 grid_5 w3-agileits">



</div>
<div class="content-inner wrapper">
    <!-- !Messages and Help -->
    <div class="full_width_secction">

        <h1 class="static_page_head title2">
            Capt.(Retd.) Jainarain Prasad Nishad
        </h1>
        <!-- !Secondary Content Region -->

        <section id="main-content">

            <div class="static_content">
                <!-- !Main Content -->
                <div id="content" class="region">
                    <div id="block-system-main" class="block block-system no-title">

                        <div class="two-66-33 at-panel panel-display clearfix">
                            <div class="region region-two-66-33-first col-sm-6">
                                <div class="region-inner clearfix">
                                    <div class="panel-pane pane-views pane-view-mp no-title block">
                                        <div class="block-inner clearfix">



                                            <div class="block-content">
                                                <div class="view view-view-mp view-id-view_mp view-display-id-block profile-details view-dom-id-ac7dc85db620b009f0610eae518ac20a">



                                                    <div class="view-content">
                                                        <div>

                                                            <div class="views-field views-field-title">        <h2 class="field-content">Capt.(Retd.) Jainarain Prasad Nishad</h2>  </div>
                                                            <p class="views-field views-field-field-const-name view-field">    <span class="views-label views-label-field-const-name view-label">Constituency: </span>    <span class="field-content view-output">Muzaffarpur</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Party: </span>    <span class="view-output">Bharatiya Janata Party</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Father's Name: </span>    <span class="view-output"><a href="#" onclick="window.open('http://www.archive.india.gov.in/govt/loksabhampbiodata.php?mpcode=276', '_blank')">Late Kokil Prasad Nishad</a></span>  </p>
                                                            <p class="view-field">    <span class="view-label">Mother's Name: </span>    <span class="view-output">Late Kwadar Devi</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Date of Birth: </span>    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="1966-10-02T00:00:00+05:30">18 Nov 1930 </span>  </p>
                                                            <p class="view-field">    <span class="view-label">Birth Place: </span>    <span class="view-output">Hajipur, Vaishali, Bihar</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Anniversary Date: </span>    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="1988-01-23T00:00:00+05:30">Saturday, January 23, 1988</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Spouse Name: </span>    <span class="view-output">Late Smt. Prem Nishad</span>  </p>
                                                            <p class="view-field">    <span class="view-label">State Name: </span>    <span class="view-output">Bihar</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Permanent Address: </span>    <span class="view-output">"Nishad Bhavan",  Kachhi Pakki Chowk,Muzaffarpur, BiharTel: (0621) 2273045, 09013869973 (M)</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Present Address: </span>    5, B.R. Mehta Lane,New Delhi Tels. (011) 23730570 9013180088 (M) </p>
                                                            <p class="view-field">    <span class="view-label">Email Id: </span>    <span class="view-output">ajay[dot]nishad[at]sansad[dot]nic[dot]in</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Education Qualifications: </span>    <span class="view-output">Intermediate Educated at Madhya Pradesh Education Board, Bhopal, Madhya Pradesh</span>  </p>
                                                        </div>
                                                        <hr />
                                                        <div class="views-field views-field-title">        <h2 class="field-content">Positions Held </h2>  </div>
                                                        <pre>
1973-89	Chairman, Municipal Committee, Hajipur
1996	Elected to 11th Lok Sabha
1996-97	Union Minister of State, Environment and Forests (Independent Charge)
1997-98	Union Minister of State, Non-Conventional Energy Sources (Independent Charge)
1998	Re-elected to 12th Lok Sabha (2nd term)
1998-99	Member, Committee on Science and Technology, Environment and Forests; 
        and Convenor of its Sub-Committee on Ganga Action Plan
1999	Re-elected to 13th Lok Sabha (3rd term)
1999-2004	Member, Committee on Transport and Tourism
	Member, Joint Committee on Salaries and Allowances of Members of Parliament
2004-2008	Member, Rajya Sabha
	Member, Committee on Coal & Steel
2009	Re-elected to 15th Lok Sabha (4th term)
31 Aug. 2009	Member, Committee on Human Resource Development,

</pre>
                                                        <hr />
                                                        <pre>
Social and Cultural Activities:	Social work; formed Yuvak Morcha in Hajipur in 1969; 
    working for the upliftment of the backward classes and for bringing political 
    and educational awareness among the downtrodden, deprived and minority communities
Special Interests:	Pisciculture
Sports and Clubs :	Office-bearer, District Sports Association, Muzaffarpur
Favourite Pastimes and Recreation	Sports, football, hockey, volley ball, billiards etc.
Countries Visited:	Indonesia, Kenya, Singapore, Sri Lanka and Yemen

</pre>
                                                        <hr />
                                                        <div class="achievIcon1"><h3>POLITICAL LIFE</h3>
                                                        <br />
                                                        <div> Participated in the Freedom Movement; Vice-chairman, Ganga Action Plan-1998-99; President, (i) Eklavya Sena, Bihar; (ii) Jaiprakash Janta Dal, a political party; Wanchit Janual, a political social organisation Member, General Body, Central Social Welfare Board, 1998-99; worked for creating political, social and educational awareness among Dalits, oppressed, exploited, most backward classes and also for securing social justice for them; Hindi Salahkar Samiti</div></div>
                                                    </div>


                                                    @*<span><h2>Ajay Nishad</h2> is a member of parliament from Muzaffarpur (Lok Sabha constituency). He won the Indian general election, 2014 being an Bharatiya Janata Party candidate.<b data-toggle="tooltip" data-placement="top" data-original-title="Bold Text"> Vivamus mattis </b> pharetra turpis, a <i data-toggle="tooltip" data-placement="top" data-original-title="italic Text"> scelerisque enim venenatis </i> luctus. <strong data-toggle="tooltip" data-placement="top" data-original-title="strong Text">Cras blandit</strong> dolor a <u data-toggle="tooltip" data-placement="top" data-original-title="Text underline">facilisis tincidunt</u>. Vivamus sed orci aliquam, aliquet tellus ut, ornare nunc. Praesent lacinia elit id libero pulvinar, sit amet faucibus felis ornare Pellentesque nulla lorem.</span>*@





                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="region region-two-66-33-second col-sm-6">
                                <div class="region-inner clearfix">
                                    <div class="panel-pane pane-block pane-block-8 no-title block">
                                        <div class="block-inner clearfix">



                                            <div class="block-content">
                                                <div class="profile_picture">
                                                    <img src="~/images/Ajay_images/276.jpg" title="" alt="" height="210">
                                                </div>
                                                @*<img src="~/images/Ajay_images/4715_burned.png" />*@
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- !Feed Icons -->
            </div>



        </section><!-- /end #main-content -->
        <!-- !Content Aside Region-->
    </div>
</div>

