@{
    ViewBag.Title = "About";
}
<h2 style="text-align:center"class="title2">@ViewBag.Title Ajay</h2>
@*<h3>@ViewBag.Message</h3>*@
<link href="~/Content/global.styles.css" rel="stylesheet" />
<hr style="border-top: 1px solid #fff;" />

<div id="about" class="grid_3 grid_5 w3-agileits">
  
    
  
</div>
<div class="content-inner wrapper">
    <!-- !Messages and Help -->
    <div class="full_width_secction">

        <h1 class="static_page_head title2">
            Ajay Nishad
        </h1>
        <!-- !Secondary Content Region -->

        <section id="main-content">

            <div class="static_content">
                <!-- !Main Content -->
                <div id="content" class="region">
                    <div id="block-system-main" class="block block-system no-title">

                        <div class="two-66-33 at-panel panel-display clearfix">
                            <div class="region region-two-66-33-first col-sm-6">
                                <div class="region-inner clearfix">
                                    <div class="panel-pane pane-views pane-view-mp no-title block">
                                        <div class="block-inner clearfix">



                                            <div class="block-content">
                                                <div class="view view-view-mp view-id-view_mp view-display-id-block profile-details view-dom-id-ac7dc85db620b009f0610eae518ac20a">



                                                    <div class="view-content">
                                                        <div>

                                                            <div class="views-field views-field-title">        <h2 class="field-content">Ajay Nishad</h2>  </div>
                                                            <p class="views-field views-field-field-const-name view-field">    <span class="views-label views-label-field-const-name view-label">Constituency: </span>    <span class="field-content view-output">Muzaffarpur</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Party: </span>    <span class="view-output">Bharatiya Janata Party</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Father's Name: </span>    <span class="view-output">Capt. Jainarain Parashad Nishad</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Mother's Name: </span>    <span class="view-output">Late Smt. Prem Nishad</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Date of Birth: </span>    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="1966-10-02T00:00:00+05:30">Sunday, October 2, 1966</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Birth Place: </span>    <span class="view-output">Hajipur, Vaishali, Bihar</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Anniversary Date: </span>    <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="1988-01-23T00:00:00+05:30">Saturday, January 23, 1988</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Spouse Name: </span>    <span class="view-output">Smt. Rama Nishad</span>  </p>
                                                            <p class="view-field">    <span class="view-label">State Name: </span>    <span class="view-output">Bihar</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Permanent Address: </span>    <span class="view-output">"Nishad Bhavan",  Kachhi Pakki Chowk,Muzaffarpur, BiharTel: (0621) 2273045, 09013869973 (M)</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Present Address: </span>    197, North Avenue,New Delhi-110001(011) 23094115, 09013869973 (M)  Fax: (011) 23094125  </p>
                                                            <p class="view-field">    <span class="view-label">Email Id: </span>    <span class="view-output">ajay[dot]nishad[at]sansad[dot]nic[dot]in</span>  </p>
                                                            <p class="view-field">    <span class="view-label">Education Qualifications: </span>    <span class="view-output">Graduate   Educated at BRBA Bihar University, Muzaffarpur, Bihar</span>  </p>
                                                        </div>
                                                    </div>


                                                    @*<span><h2>Ajay Nishad</h2> is a member of parliament from Muzaffarpur (Lok Sabha constituency). He won the Indian general election, 2014 being an Bharatiya Janata Party candidate.<b data-toggle="tooltip" data-placement="top" data-original-title="Bold Text"> Vivamus mattis </b> pharetra turpis, a <i data-toggle="tooltip" data-placement="top" data-original-title="italic Text"> scelerisque enim venenatis </i> luctus. <strong data-toggle="tooltip" data-placement="top" data-original-title="strong Text">Cras blandit</strong> dolor a <u data-toggle="tooltip" data-placement="top" data-original-title="Text underline">facilisis tincidunt</u>. Vivamus sed orci aliquam, aliquet tellus ut, ornare nunc. Praesent lacinia elit id libero pulvinar, sit amet faucibus felis ornare Pellentesque nulla lorem.</span>*@





                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="region region-two-66-33-second col-sm-6">
                                <div class="region-inner clearfix">
                                    <div class="panel-pane pane-block pane-block-8 no-title block">
                                        <div class="block-inner clearfix">



                                            <div class="block-content">
                                                <div class="profile_picture">
                                                    <img src="~/images/Ajay_images/4715_burned.png" title="" alt="" height="210">
                                                </div>
                                                @*<img src="~/images/Ajay_images/4715_burned.png" />*@
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- !Feed Icons -->
            </div>



        </section><!-- /end #main-content -->
        <!-- !Content Aside Region-->
    </div>
</div>

