
@{
    ViewBag.Title = "Muzaffarpur";
}
<div class="container">
    <h2 class="title2">Muzaffarpur</h2>

    <div class="container">
        <hr />
        <!-- start feedwind code -->
        <!-- start feedwind code -->
        <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="19271/"></script> <!-- end feedwind code -->
    </div>

    <style>
        iframe {
            height: 800px !important;
        }
    </style>
</div>